# Obtendo dados com pandas

## 1. Importando dados de um csv

### Lendo o arquivo localmente

In [1]:
import pandas as pd

In [2]:
tax_data = pd.read_csv('https://www.irs.gov/pub/irs-soi/16zpallagi.csv')

In [3]:
tax_data

,STATEFIPS,STATE,zipcode,agi_stub,N1,mars1,MARS2,MARS4,PREP,N2,...,N10300,A10300,N85530,A85530,N85300,A85300,N11901,A11901,N11902,A11902
0,1,AL,0,1,815440,477700,105350,221200,440830,1296920,...,367320,330066,0,0,0,0,63420,51444,711580,1831661
1,1,AL,0,2,495830,211930,142340,128890,272440,996240,...,398050,984297,0,0,0,0,74090,110889,416090,1173463
2,1,AL,0,3,263390,83420,137870,36340,154880,584000,...,253180,1349246,0,0,0,0,64000,143060,195130,543284
3,1,AL,0,4,167190,29420,124060,10610,99700,421720,...,165830,1425430,0,0,0,0,45020,128920,117410,381329
4,1,AL,0,5,217440,20240,188080,4880,129410,601040,...,216720,3922449,390,155,60,19,82940,423629,126130,506526
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179791,56,WY,99999,2,2020,1100,620,260,1140,3670,...,1740,5088,0,0,0,0,290,489,1610,4057
179792,56,WY,99999,3,1330,570,630,130,820,2720,...,1280,7819,0,0,0,0,280,574,940,2625
179793,56,WY,99999,4,910,280,580,60,640,2070,...,890,8850,0,0,0,0,210,740,610,2195
179794,56,WY,99999,5,1270,240,1010,40,950,3170,...,1260,24173,0,0,0,0,410,2520,680,3690
179795,56,WY,99999,6,390,90,330,0,380,970,...,390,71985,90,136,260,1982,180,6420,80,14096

### Lendo de uma url

In [10]:
link = 'https://www.irs.gov/pub/irs-soi/16zpallagi.csv'

In [ ]:
tax_data = pd.read_csv('https://www.irs.gov/pub/irs-soi/16zpallagi.csv')
tax_data

### Modificando importações de arquivo csv

#### Limitando Colunas
Para escolher as colunas que deseja carregar, use o argumento ```usecols```

Você pode definir uma lista de números ou nomes de colunas ou uma função para filtrar nomes de colunas

In [8]:
col_names = ['STATEFIPS','STATE','zipcode','agi_stub','N1']

tax_data_by_names = pd.read_csv('https://www.irs.gov/pub/irs-soi/16zpallagi.csv',usecols=col_names)
tax_data_by_names

        STATEFIPS STATE  zipcode  agi_stub      N1
0               1    AL        0         1  815440
1               1    AL        0         2  495830
2               1    AL        0         3  263390
3               1    AL        0         4  167190
4               1    AL        0         5  217440
...           ...   ...      ...       ...     ...
179791         56    WY    99999         2    2020
179792         56    WY    99999         3    1330
179793         56    WY    99999         4     910
179794         56    WY    99999         5    1270
179795         56    WY    99999         6     390

[179796 rows x 5 columns]

abrindo colunas pelo indice

In [12]:
# Carregando colunas pelo índice
col_nums = [0,1,2,3,4]
tax_data_by_index = pd.read_csv(link, usecols=col_nums)
tax_data_by_index.head(3)
tax_data_by_names.equals(tax_data_by_index)

True

Limite o número de linhas carregadas com o argumento ```nrows```

In [13]:
tax_data_100rows = pd.read_csv(link, nrows=100)
tax_data_100rows

,STATEFIPS,STATE,zipcode,agi_stub,N1,mars1,MARS2,MARS4,PREP,N2,...,N10300,A10300,N85530,A85530,N85300,A85300,N11901,A11901,N11902,A11902
0,1,AL,0,1,815440,477700,105350,221200,440830,1296920,...,367320,330066,0,0,0,0,63420,51444,711580,1831661
1,1,AL,0,2,495830,211930,142340,128890,272440,996240,...,398050,984297,0,0,0,0,74090,110889,416090,1173463
2,1,AL,0,3,263390,83420,137870,36340,154880,584000,...,253180,1349246,0,0,0,0,64000,143060,195130,543284
3,1,AL,0,4,167190,29420,124060,10610,99700,421720,...,165830,1425430,0,0,0,0,45020,128920,117410,381329
4,1,AL,0,5,217440,20240,188080,4880,129410,601040,...,216720,3922449,390,155,60,19,82940,423629,126130,506526
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,1,AL,35035,6,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
96,1,AL,35040,1,2360,1450,320,550,1040,3560,...,1160,1104,0,0,0,0,210,186,2040,4788
97,1,AL,35040,2,2190,950,550,570,920,4360,...,1750,4554,0,0,0,0,330,559,1850,5356
98,1,AL,35040,3,1410,460,670,230,660,3180,...,1350,7109,0,0,0,0,290,649,1110,2946
99,1,AL,35040,4,790,110,620,50,360,2220,...,790,6189,0,0,0,0,170,351,620,1956

Use ``nrows`` e ``skiprows`` para processar um arquivo em partes

``skiprows`` aceita uma lista de números de linha, um número de linhas ou uma função para filtrar linhas

``header=None`` indica para o pandas que não há nomes de colunas

In [14]:
tax_data_next100 = pd.read_csv(link, nrows=100,skiprows=100)
tax_data_next100

,1,AL,35040,4,790,110,620,50,360,2220,...,790.6,6189,0.42,0.43,0.44,0.45,170.2,351,620.1,1956
0,1,AL,35040,5,760,60,670,20,390,2220,...,750,12069,0,0,0,0,270,1224,480,1700
1,1,AL,35040,6,80,0,80,0,60,220,...,80,8772,30,29,30,41,50,1989,30,222
2,1,AL,35042,1,890,500,140,240,470,1490,...,380,363,0,0,0,0,60,53,780,2074
3,1,AL,35042,2,570,210,210,140,300,1260,...,440,1061,0,0,0,0,60,108,500,1424
4,1,AL,35042,3,320,80,190,50,180,780,...,320,1638,0,0,0,0,70,134,250,701
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,1,AL,35063,4,100,0,90,0,60,300,...,100,807,0,0,0,0,30,56,70,305
96,1,AL,35063,5,100,0,90,0,80,280,...,100,2012,0,0,0,0,30,198,60,224
97,1,AL,35063,6,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
98,1,AL,35064,1,2220,1120,110,970,1330,4020,...,890,736,0,0,0,0,120,77,2060,7066
99,1,AL,35064,2,1230,550,120,530,650,2300,...,970,2216,0,0,0,0,180,204,1050,2959

In [ ]:
from tables.link import Link
batch_size = 1000

for i in range(0,1000):
    tax_data_next = pd.read_csv(link, nrows=batch_size, skiprows=i*batch_size)
tax_data_next.head()

KeyboardInterrupt: ignored

In [18]:
next_tax_no_header = pd.read_csv(link, nrows=1000, skiprows=100, header=None)
next_tax_no_header.head()

,0,1,2,3,4,5,6,7,8,9,...,137,138,139,140,141,142,143,144,145,146
0,1,AL,35040,4,790,110,620,50,360,2220,...,790,6189,0,0,0,0,170,351,620,1956
1,1,AL,35040,5,760,60,670,20,390,2220,...,750,12069,0,0,0,0,270,1224,480,1700
2,1,AL,35040,6,80,0,80,0,60,220,...,80,8772,30,29,30,41,50,1989,30,222
3,1,AL,35042,1,890,500,140,240,470,1490,...,380,363,0,0,0,0,60,53,780,2074
4,1,AL,35042,2,570,210,210,140,300,1260,...,440,1061,0,0,0,0,60,108,500,1424

#### Atribuindo Nomes de Colunas

Forneça nomes de coluna passando uma lista para o argumento ``names``.

A lista DEVE ter um nome para cada coluna em seus dados.

Se você só precisa renomear algumas colunas, faça isso depois de carregar os dados.

In [19]:
col_names = list(tax_data)
tax_next500 = pd.read_csv(
                link,
                nrows=500,
                skiprows=1000,
                header=None,
                names=col_names
)

tax_next500.head(2)

,STATEFIPS,STATE,zipcode,agi_stub,N1,mars1,MARS2,MARS4,PREP,N2,...,N10300,A10300,N85530,A85530,N85300,A85300,N11901,A11901,N11902,A11902
0,1,AL,35565,4,270,0,250,0,210,790,...,260,1978,0,0,0,0,50,222,210,794
1,1,AL,35565,5,250,30,220,0,220,700,...,250,4082,0,0,0,0,90,654,160,967

### Tratamento de erros e falta de dados

#### Problemas comuns de importação de arquivos

- Tipos de dados da coluna errados

- Valores  faltando

- Registros que não podem ser lidos

#### Especificando tipos de dados

O pandas infere automaticamente tipos de dados das colunas

In [30]:
 tax_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 179796 entries, 0 to 179795
Columns: 147 entries, STATEFIPS to A11902
dtypes: int64(146), object(1)
memory usage: 201.6+ MB

Use a palavra-chave ``dtype`` para especificar os tipos de dados de uma coluna

``dtype`` aceita como parâmetro um dicionário de nomes de colunas e tipos de dados

In [ ]:
tax_data = pd.read_csv(path, dtype={"zipcode": str})
tax_data.dtypes

#### Customizando valores de dados ausentes

O pandas interpreta automaticamente alguns valores como ausentes ou NA

Usamos a palavra-chave ``na_values`` para definir valores ausentes personalizados

Podemos passar um único valor, uma lista ou um dicionário de colunas e valores

In [37]:
td = pd.read_csv(link, na_values={'zipcode':1}) # fala que o valor 1 é na e passa 1 para na
td

,STATEFIPS,STATE,zipcode,agi_stub,N1,mars1,MARS2,MARS4,PREP,N2,...,N10300,A10300,N85530,A85530,N85300,A85300,N11901,A11901,N11902,A11902
0,1,AL,0,1,815440,477700,105350,221200,440830,1296920,...,367320,330066,0,0,0,0,63420,51444,711580,1831661
1,1,AL,0,2,495830,211930,142340,128890,272440,996240,...,398050,984297,0,0,0,0,74090,110889,416090,1173463
2,1,AL,0,3,263390,83420,137870,36340,154880,584000,...,253180,1349246,0,0,0,0,64000,143060,195130,543284
3,1,AL,0,4,167190,29420,124060,10610,99700,421720,...,165830,1425430,0,0,0,0,45020,128920,117410,381329
4,1,AL,0,5,217440,20240,188080,4880,129410,601040,...,216720,3922449,390,155,60,19,82940,423629,126130,506526
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179791,56,WY,99999,2,2020,1100,620,260,1140,3670,...,1740,5088,0,0,0,0,290,489,1610,4057
179792,56,WY,99999,3,1330,570,630,130,820,2720,...,1280,7819,0,0,0,0,280,574,940,2625
179793,56,WY,99999,4,910,280,580,60,640,2070,...,890,8850,0,0,0,0,210,740,610,2195
179794,56,WY,99999,5,1270,240,1010,40,950,3170,...,1260,24173,0,0,0,0,410,2520,680,3690
179795,56,WY,99999,6,390,90,330,0,380,970,...,390,71985,90,136,260,1982,180,6420,80,14096

In [39]:
tax_data = pd.read_csv(link, na_values={'zipcode':0, 'STATE': 'Nenhum'})
filter = tax_data.zipcode.isna()
tax_data[filter]

,STATEFIPS,STATE,zipcode,agi_stub,N1,mars1,MARS2,MARS4,PREP,N2,...,N10300,A10300,N85530,A85530,N85300,A85300,N11901,A11901,N11902,A11902
0,1,AL,NaN,1,815440,477700,105350,221200,440830,1296920,...,367320,330066,0,0,0,0,63420,51444,711580,1831661
1,1,AL,NaN,2,495830,211930,142340,128890,272440,996240,...,398050,984297,0,0,0,0,74090,110889,416090,1173463
2,1,AL,NaN,3,263390,83420,137870,36340,154880,584000,...,253180,1349246,0,0,0,0,64000,143060,195130,543284
3,1,AL,NaN,4,167190,29420,124060,10610,99700,421720,...,165830,1425430,0,0,0,0,45020,128920,117410,381329
4,1,AL,NaN,5,217440,20240,188080,4880,129410,601040,...,216720,3922449,390,155,60,19,82940,423629,126130,506526
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179031,56,WY,NaN,2,61020,32730,17640,9290,28050,113750,...,52680,146935,0,0,0,0,8970,14465,50770,134347
179032,56,WY,NaN,3,40630,14930,21420,3650,21200,91290,...,38800,223759,0,0,0,0,9000,21496,30760,89449
179033,56,WY,NaN,4,29160,5770,21390,1340,15960,75150,...,28790,256930,0,0,0,0,6760,20791,21110,74348
179034,56,WY,NaN,5,38030,3920,32840,770,22800,105150,...,37850,714468,0,0,20,121,13230,73326,22250,99589
179035,56,WY,NaN,6,8480,850,7090,0,7050,22580,...,8470,1328573,2320,4642,4780,53835,3630,128149,2250,125557

In [ ]:
tax_data = pd.read_csv(path, na_values={"zipcode":[0]})
tax_data[tax_data.zipcode.isna()]sur

#### Linhas com Erros

Defina ``error_bad_lines=False`` para pular registros não analisáveis

Defina ``warning_bad_lines=True`` para ver as mensagens quando os registros são ignorados

In [38]:
tax_data = pd.read_csv(link, error_bad_lines=True, warn_bad_lines=True)

NameError: ignored

## 2. Carregando planilhas

As planilhas têm sua própria função de carregamento no pandas: ``read_excel()``

In [40]:
fcc = 'fcc_survey.xlsx'

In [41]:
survey = pd.read_excel(fcc)

In [42]:
survey

,Age,AttendedBootcamp,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampMonthsAgo,BootcampName,BootcampPostSalary,BootcampRecommend,ChildrenNumber,...,ResourceSoloLearn,ResourceStackOverflow,ResourceTreehouse,ResourceUdacity,ResourceUdemy,ResourceW3Schools,ResourceYouTube,SchoolDegree,SchoolMajor,StudentDebtOwe
0,28.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"some college credit, no degree",NaN,20000.0
1,22.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,"some college credit, no degree",NaN,NaN
2,19.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,high school diploma or equivalent (GED),NaN,NaN
3,26.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,bachelor's degree,Cinematography And Film,7000.0
4,20.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"some college credit, no degree",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15615,39.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,bachelor's degree,Chemistry,NaN
15616,27.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,bachelor's degree,Electrical Engineering,NaN
15617,37.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,bachelor's degree,Chemistry,NaN
15618,26.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,master's degree (non-professional),Math,NaN
15619,22.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,bachelor's degree,Graphic Design,40000.0

### Carregando colunas e linhas selecionadas

``read_excel()`` tem muitos argumentos em comum com ``read_csv()``
- ``nrows``: limita o número de linhas para carregar
- ``skiprows``: especifica a quantidade de linhas ou números de linha a serem ignorados
- ``usecols``: seleciona colunas por nome, número posicional ou letra

In [ ]:
colunas = "K, AB:AG"

survey = pd.read_excel(path_xlsx, 
                       nrows=100, 
                       skiprows=3, 
                       usecols=colunas, 
                       header=None)
survey.head()

### Obtendo dados de várias planilhas
#### Selecionando uma única aba
Por padrão, a função ``read_excel()`` carrega a primeira planilha de um arquivo Excel

Para carregar outras planilhas, devemos usar o argumento ``sheet_name``

Podemos especificar planilhas por nome e/ou número de posição (indexado por zero)

Passe uma lista de nomes/números para carregar mais de uma aba por vez

Quaisquer argumentos passados para ``read_excel()`` se aplicam a todas as planilhas lidas

In [ ]:
all_survey = pd.read_excel(path_xlsx, nrows=1000, sheet_name=['2016','2017'])
type(all_survey)
all_survey.keys()
all_survey = pd.read_excel(path_xlsx, nrows=10, sheet_name=[0,'2017'])
type(all_survey)

### Selecionando várias abas

### Trabalhando com várias planilhas

### Carregando todas as abas

Passando ``sheet_name=None`` para ``read_excel()`` lê todas as planilhas em uma pasta de trabalho

### Juntando tudo

## 3. Conectando a um Banco de Dados

In [ ]:
from sqlalchemy import create_engine
from sqlalchemy import inspect

engine = create_engine('sqlite:///data/sqlite-sakila.db')

insp = inspect(engine)
insp.get_table_names()
df_actor = pd.read_sql_query('select * from actor', engine)
df_actor.head()